<label for="current_day">Current Day</label>
<form action="/current_day" method="post">
  <input id="current_day" type="date" name="current_day" value="<%= current_day %>">
  <input type="submit" value="Change Date">
</form>
<form action="/current_day" method="post">
  <input type="submit" value="Today">
</form>
