<head>
  <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body>
  <%= erb :current_day, locals: { current_day: current_day } %>
  <%= erb :todo_list, locals: { todos: todos } %>
  <%= erb :new_todo_form %>
</body>
