<head>
  <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body>
  <%= CurrentDayForm.new(current_day).render %>
  <%= TodoListView.new(todos).render %>
  <%= NewTodoForm.new.render %>
</body>
