<head>
  <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body>
  <%= CurrentDayForm.new(current_day).render %>
  <%= erb :todo_list, locals: { todos: todos } %>
  <%= erb :new_todo_form %>
</body>
