<% todos.each do |todo| %>
    <p>
      <%= todo %>
    </p>
<% end %>

<form action="/" method="post">
  <label for="create_todo">New Todo</label>
  <input type="text" name="todo" id="create_todo">
  <input type="submit" value="Create">
</form>