<% todos.each do |todo| %>
  <p>
    <%= todo %>
  </p>
<% end %>
<form style="display: inline" action="/done" method="post">
  <input type="submit" value="Done">
</form>
<form style="display: inline;" action="/clear" method="post">
  <input style="margin-bottom: 20px;" type="submit" value="Clear">
</form>

