<ul>
  <% todos.each do |todo| %>
    <li>
      <%= todo.description %>
      <form action="<%= todo.done_action %>" method="post">
        <input type="submit" value="Done">
      </form>
      <%= MoveUpTodoForm.render(todo.description) %>
      <%= MoveDownTodoForm.render(todo.description) %>
    </li>
  <% end %>
</ul>
<div class="actions">
  <form action="/undo" method="post">
    <input type="submit" value="Undo">
  </form>
  <form action="/clear" method="post">
    <input type="submit" value="Clear">
  </form>
</div>
