<ul>
  <% todos.each do |todo| %>
    <li>
      <%= todo %>
      <%= MoveUpTodoForm.render(todo) %>
    </li>
  <% end %>
</ul>
<div class="actions">
  <form action="/done" method="post">
    <input type="submit" value="Done">
  </form>
  <form action="/undo" method="post">
    <input type="submit" value="Undo">
  </form>
  <form action="/clear" method="post">
    <input type="submit" value="Clear">
  </form>
</div>
